 * {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0;
}

body {
    background: #000;
    cursor: url(https://i.imgur.com/kmBh2DJ.png) 10 2, auto;
    overflow: hidden;
}
body:active {
    cursor: url(https://i.imgur.com/kmBh2DJ.png) 10 2, auto;
}
body:after {
    background-color: #000;
    background-image: url(https://s3.amazonaws.com/duxsite-mtgarena/121d4ed46a8e4d88ad0d3e36cfbe46d79916f6eec421edc3413ef8554f3a8e02u50069.png) ;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    position: absolute;
    will-change: transform;
    z-index: -1;
}
